footer{
    background: #f2f2f2;
    padding: 32px;
    display: flex;
    align-items: center;
    border-top: 1px solid #cdcdcd;
    
}

.price{
    font-size: 40px;
}

button{
    padding: 8px 24px;
    font-size: 20px;
    border-radius: 20px;
}